								/*   Including fonts   */

/* source-sans-pro-200 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/source-sans-pro-v9-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
       url('../fonts/source-sans-pro-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-sans-pro-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('../fonts/source-sans-pro-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/source-sans-pro-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/source-sans-pro-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
       url('../fonts/source-sans-pro-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* gotham-pro-bold */
@font-face {
  font-family: 'Gotham Pro Bold';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/GothamPro/GothamProBold/GothamProBold.eot'); /* IE9 Compat Modes */
  src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
       url('../fonts/GothamPro/GothamProBold/GothamProBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamPro/GothamProBold/GothamProBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

								/*	Font Styles   */
.font__sourceSansPro_regular{
	font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
	font-style: normal;
  	font-weight: 400;
}

.font__sourceSansPro_bold{
	font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
	font-style: normal;
  	font-weight: 700;
}

.font__sourceSansPro_thin{
	font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
	font-style: normal;
  	font-weight: 300;
}

.font__gothamPro_bold{
	font-family: 'Gotham Pro Bold', 'Myriad Pro', Myriad, Arial, sans-serif;
	font-style: normal;
  	font-weight: 900;
}

								/* The same page style */

.daisySite__item_sameStyle{
	padding:20px 160px 0px;
	position: relative;
	transition:all 1s linear;
}


							/* Button Slide Down - Red */

.button__slideDown_red{
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-color:#fc635e;
	line-height:30px;
	font-size:30px;
	text-align: center;
}

.button__slideDown_red:hover{
	background-color: #fff;
	border:2px solid #fc635e;
}

.slideDown__link_red{
	display:inline-block;
	width: 100%;
	height: 100%;
	color:#fff;
}

.slideDown__link_red:hover{
	color:#fc635e;
}

							/* Button Slide Down - White */

.button__slideDown{
	position: absolute;
	left:calc(50% - 15px);
	bottom:10px;
}

.button__slideDown_white{
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-color:#fff;
	line-height:30px;
	font-size:30px;
	border:2px solid #fc635e;
	box-sizing:border-box;
	text-align: center;
}

.button__slideDown_white:hover{
	background-color: #fc635e;
	border:none;
}

.slideDown__link_white{
	display:inline-block;
	width: 100%;
	height: 100%;
	color:#fc635e;
}

.slideDown__link_white:hover{
	color:#fff;
}

							/* Logo */

.logo__figure{
	width: 60px;
	height: 35px;
	background: #fc645f;
	position: relative;
	text-align: center;
	font-weight: 700;
	font-size:35px;
	color:#0c252d;
	line-height: 35px;
}

.logo__figure:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 15px solid #fc645f;
}
.logo__figure:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid #fc645f;
}

.logo__figure_text{
	margin:0;
}

.logo__text{
	font-size:24px;
	color:#fff;
}

							/* Color title */

.text_anotherСolor{
	color:#fc635e;
}

							/* Heading title & text */

.heading_title{
	font-size:28px;
	color:#868686;
	display:inline-block;
	text-transform: uppercase;
	border-bottom:1px solid #adadad;
	transition:all 1s linear;
}

.heading_text{
	font-size:20px;
	width:530px;
	margin:auto;
	color:#adadad;
}

						/* page 4 - Our process - Title & text style */

.process__blocks_title{
	border-bottom:1px solid #adadad;
	font-size:24px;
	color:#868686;
	text-transform: uppercase;
}

.process__blocks_text{
	font-size:15px;
	color:#9f9f9f;
	line-height:17px;
	padding-left: 15px;
	flex-basis:150px;
}

						/* Page 4 - Our process - Icon */

.process__icon{
	width: 40px;
	height: 40px;
	background-color: #fc635e;
	position: absolute;
	border-radius:50%;
	z-index:2;
	text-align: center;
	color:#fff;
	line-height:40px;
}
.process__hexagon{
	position: absolute;
  	top:0;
  	left:0;
}

					/* page 5 - What do we do - Button More Details */

.button__moreDetails{
	width: 170px;
	height: 45px;
	box-sizing:border-box;
	font-size:20px;
	color:#f2f2f2;
	background-color:#fc635e;
	border-radius:7px;
	display:block;
	border:none;
}

.button__moreDetails:hover{
	background-color: #f2f2f2;
	color:#fc635e;
	border:2px solid #fc635e;
}

					/* page 7 - ourTeam - Hexagon avatar */

.person__avatar{
	width: 148px;
	height: 168px;
	margin:auto;
}

.person__avatar div{
	float:left;
}

.avatar__item_topLeft{
  	width: 0;
	height: 0;
	border-top: 42px solid #f2f2f2;
	border-right: 74px solid transparent;
}
.avatar__item_topRight{
  	width: 0;
	height: 0;
	border-top: 42px solid #f2f2f2;
	border-left: 74px solid transparent;
}
.avatar__item_center{
  	height: 84px;
  	width: 148px;
}
.avatar__item_bottomLeft{
  	width: 0;
	height: 0;
	border-bottom: 42px solid #f2f2f2;
	border-right: 74px solid transparent;
}
.avatar__item_bottomRight{
  	width: 0;
	height: 0;
	border-bottom: 42px solid #f2f2f2;
	border-left: 74px solid transparent;
}

							/* Footer / Testimonials - Hexagon - "" */
.figure__hexagon_back{
  	width: 74px;
  	height: 42px;
  	background: #fe8682;
  	box-sizing:border-box;
  	position: relative;
  	margin:auto;
  	top:21px;
}
.figure__hexagon_back:before {
	content: "";
  	position: absolute;
	top: -21px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-bottom: 21px solid #fe8682;
}
.figure__hexagon_back:after {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-top: 21px solid #fe8682;
}
.figure__hexagon_front{
  	width: 74px;
  	height: 42px;
  	background: #fc635e;
  	box-sizing:border-box;
  	position: relative;
  	transform:scale(0.9);
  	margin:auto;
	top: -21px;
	text-align: center;
	line-height:40px;
  	font-size:40px;
  	color:#fff;
}
.figure__hexagon_front:before {
	content: "";
  	position: absolute;
	top: -21px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-bottom: 21px solid #fc635e;
}
.figure__hexagon_front:after {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-top: 21px solid #fc635e;
}

							/* Footer / Testimonials - Hexagon - Avatar */
.testimonials__content_avatar div{
	float:left;
}

.testimonials__avatar_topLeftBlock{
  	width: 0;
	height: 0;
	border-top: 46px solid #fff;
	border-right: 80px solid transparent;
}
.testimonials__avatar_topRightBlock{
  	width: 0;
	height: 0;
	border-top: 46px solid #fff;
	border-left: 80px solid transparent;
}
.testimonials__avatar_centerBlock{
  	height: 93px;
  	width: 160px;
}
.testimonials__avatar_bottomLeftBlock{
  	width: 0;
	height: 0;
	border-bottom: 46px solid #fff;
	border-right: 80px solid transparent;
}
.testimonials__avatar_bottomRightBlock{
  width: 0;
	height: 0;
	border-bottom: 46px solid #fff;
	border-left: 80px solid transparent;
}

								/*    Basic page style   */

#daisySite_wrapper{
	max-width:1260px;
	min-width:480px;
	width: 100%;
	background: #ccc;
	margin:auto;
}

								/* Header - Mast Head */
.daisySite__item_header{
	height: 765px;
	background: url('../images/background.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.header__background{
	background-color: rgba(24, 24, 24, 0.7);
	height: 100%;
	box-sizing:border-box;
	overflow:hidden;
	position: relative;
}

.navbar{
	position: relative;
	top:50px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:#fc635e;
}

.collapse{
	margin-top: 15px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	text-transform: uppercase;
	font-size:18px;
	border-bottom:4px solid transparent;
}
.navbar-default .navbar-nav>li>a:visited{
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#fc635e;
	border-bottom:4px solid #fc635e;
}

.navbar-default{
	background-color:transparent;
	border:none;
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
}

.dropdown-menu{
	background-color:#fc635e;
	text-align: center;
	text-transform: uppercase;
	
}
.dropdown-menu>li>a{
	color:#fff;
}

.dropdown-menu>li>a:hover{
	color:#fc635e;
}

.header__logo{
	width: 140px;
	height: 65px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	align-items:center;
}

.header__heading{
	margin-top: 200px;
	margin-bottom: 30px;
	transition:all 1s linear;
}

.heading__decorate{
	height: 10px;
	background: #504d4d;
	position: relative;
	top:45px;
}

.header__title{
	font-size:51px;
	text-transform: uppercase;
	color:#fff;
}

.header__text{
	font-size:24px;
	color:#fff;
}

.header__button_clients{
	width: 205px;
	height: 56px;
	box-sizing:border-box;
	font-size:24px;
	color:#fc635e;
	background-color:transparent;
	border:2px solid #fc635e;
	border-radius:7px;
	display:block;
	margin:auto;
	transition:all 1s linear;
}

.header__button_clients:hover{
	background-color: rgba(0, 0, 0, 0.3);
}

/* ____________________________________________ */

.modal-title{
	text-align: center;
	font-size:20px;
}

/* ____________________________________________ */
.header__mouse{
	height: 32px;
	width: 47px;
	background: url('../images/mouse.png') no-repeat center center;
	display:block;
	position: relative;
	top:-45px;
	left:calc(50% + 110px);
	-webkit-animation: mymove 1s infinite alternate;
    animation: mymove 1s infinite alternate;
}

@-webkit-keyframes mymove {
    0% {opacity:1.0;}
    100% {opacity:0;}
}

@keyframes mymove {
    0% {opacity:1.0;}
    100% {opacity:0;}
}

.header__mouse:after{
	content:'';
	display:block;
	width: 72px;
	height: 350px;
	border-top:1px dashed #7d7d7d;
	border-right:1px dashed #7d7d7d;
	position: absolute;
	left:48px;
	top:15px;
	border-radius:0 30px 0 0;
}

							/* page 2 - What can you receive */

.daisySite__item_youReseive{
	height: 576px;
	background-color: #fff;
}

.youReseive__heading{
	text-align: center;
}

.youReseive__offers{
	margin-top: 70px;
	transition:all 1s linear;
}
.offers__block{
	text-align: center;
}
.offers__block:hover{
	cursor:pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block__hexagon{
	height: 130px;
	padding-top:35px;
}

						/* Hexagon */
.block__hexagon_back{
  	width: 100px;
  	height: 60px;
  	background: #fe8682;
  	box-sizing:border-box;
  	position: relative;
  	margin:auto;
}
.block__hexagon_back:before {
	content: "";
  	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #fe8682;
}
.block__hexagon_back:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #fe8682;
}
.block__hexagon_front{
  	width: 100px;
  	height: 60px;
  	background: #fc635e;
  	box-sizing:border-box;
  	position: relative;
  	transform:scale(0.9);
  	margin:auto;
	top: -60px;
  	font-size:43px;
  	color:#fff;
}
.block__hexagon_front:before {
	content: "";
  	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #fc635e;
}
.block__hexagon_front:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #fc635e;
}

/*  */

.block__title{
	color:#868686;
	font-size:20px;
	text-transform: uppercase;
}

.block__title:after{
	content:'';
	display:block;
	width: 60px;
	height: 1px;
	background-color: #adadad;
	margin:auto;
}

.block__text{
	font-size:14px;
	color:#adadad;
}

.fa-pencil-square-o{
	margin-left:10px;
}

							/* page 3 - Expand your business */

.daisySite__item_expand{
	height: 576px;
	background: url('../images/bg_sity.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.expand__background{
	background-color: rgba(24, 24, 24, 0.7);
	height: 100%;
	transition:all 1s linear;
}

.expand__frame{
	height: 384px;
	margin:0;
	box-sizing:border-box;
	border:8px solid rgba(202, 200, 200, 0.3);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top: 80px;
	transition:all 1s linear;
}

.expand__title{
	color:#fff;
	font-size:51px;
	text-transform: uppercase;
	text-align: center;
}

.expand__button_joinUs{
	width: 205px;
	height: 56px;
	box-sizing:border-box;
	font-size:24px;
	color:#fc635e;
	background-color:transparent;
	border:2px solid #fc635e;
	border-radius:7px;
	display:block;
	margin:auto;
}

.expand__button_joinUs:hover{
	background-color: rgba(0, 0, 0, 0.3);
}

							/* page 4 - Our process */

.daisySite__item_process{
	height: 840px;
	background-color: #fff;
}

.process__heading{
	text-align: center;
}

.process__content{
	padding:0;
	height: 550px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top: 50px;
	transition:all 1s linear;
}
.content_wrapper{
	width: 785px;
	height: 540px;
	position: relative;
	transition:all 1s linear;
}

.process__blocks{
	width: 170px;
	height: 200px;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  	justify-content: center;
  	flex-wrap:wrap;
  	align-content: center;
  	background-color:transparent;
}

.process__blocks_step1{
	top: 98px;
	left:20px;
	z-index:1;
	transition:all 1s linear;
}
.process__icon_idea{
	top:30px;
	left:-20px;
	font-size:30px;
	transition:all 1s linear;
}

.process__blocks_step2{
	top: 149px;
	left: 276px;
	transition:all 1s linear;
}
.process__icon_plan{
	top:30px;
	left:-20px;
	font-size:20px;
	transition:all 1s linear;
}

.process__blocks_step3{
	top: 0px;
	left: 360px;
	transition:all 1s linear;
}
.process__icon_brainstorm{
	top:30px;
	left:-20px;
	font-size:30px;
	transition:all 1s linear;
}
.process__icon_decision{
	top:132px;
	right:-20px;
	font-size:30px;
	transition:all 1s linear;
}

.process__blocks_step4{
	top: 126px;
	left: 572px;
	transform: scale(1.5);
	transition:all 1s linear;
}
.process__icon_implementation{
	top:180px;
	left:65px;
	font-size:25px;
	background-color: #fff;
	color:#fc635e;
	border:3px solid #fc635e;
	box-sizing:border-box;
	line-height:37px;
	transform: scale(0.7);
	transition:all 1s linear;
}

					/* Hexagon - Picture */

.process__blocks_picture{
	top: 287px;
	left: 104px;
	transform: scale(1.4);
	padding-top: 0px;
	background: url('../images/ourProcess_team.png') no-repeat center center;
  	background-size: cover;
  	overflow:hidden;
  	transition:all 1s linear;
}

.process__blocks_picture div{
	float:left;
}

.picture__item_topLeft{
  	width: 0;
	height: 0;
	border-top: 50px solid #fff;
	border-right: 85px solid transparent;
}
.picture__item_topRight{
  	width: 0;
	height: 0;
	border-top: 50px solid #fff;
	border-left: 85px solid transparent;
}
.picture__item_center{
  	height: 100px;
  	width: 170px;
}
.picture__item_bottomLeft{
  	width: 0;
	height: 0;
	border-bottom: 50px solid #fff;
	border-right: 85px solid transparent;
}
.picture__item_bottomRight{
  	width: 0;
	height: 0;
	border-bottom: 50px solid #fff;
	border-left: 85px solid transparent;
}

							/* page 5 - What do we do */

.daisySite__item_weDo{
	background-color: #f2f2f2;
}

					/* page 5 - What do we do / Labding Pages */

.weDo__item_landingPages{
	height: 576px;
}

.landingPages__heading{
	text-align: center;
	margin-bottom: 60px;
	transition:all 1s linear;
}

.landingPages__info_heading{
	text-transform: uppercase;
	font-size:28px;
	color:#868686;
	margin-bottom:20px;
}

.landingPages__info_heading:before{
	content:' ';
	display: inline-block;
	width: 10px;
	height: 40px;
	background-color: #fc635e;
	position: relative;
	top:10px;
}

.landingPages__info_text{
	font-size:15px;
	color:#9e9898;
	line-height:25px;
	margin-bottom: 40px;
	transition:all 1s linear;
}

.landingPages__devices{
	padding:0;
	height: 320px;
	background: url('../images/thunderboltDisplay.png') no-repeat center top;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	align-items:flex-end;
}

.landingPages__devices_macbook{
	width: 289px;
	height: 168px;
	background: url('../images/macBookPro.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

.landingPages__devices_ipad{
	width: 129px;
	height: 184px;
	background: url('../images/iPad.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

.popover-title{
	text-align: center;
	text-transform: uppercase;
	background-color:#fc635e;
	color:#fff;
	font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
	font-style: normal;
  	font-weight: 700;
}
.popover-content{
	font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
	font-style: normal;
  	font-weight: 300;
}

.landingPages__button_slideDown{
	background-color: #f2f2f2;
}

					/* page 5 - What do we do / Advertising */

.weDo__item_advertising{
	height: 578px;
	background-color: #fff;
}

.advertising__content{
	margin-top: 120px;
	transition:all 1s linear;
}

.advertising__device{
	height: 292px;
	background: url('../images/macBookPro_2.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

.advertising__info{
	text-align: right;
}

.advertising__info_heading{
	text-transform: uppercase;
	font-size:28px;
	color:#868686;
	margin-bottom:20px;
}

.advertising__info_heading:after{
	content:' ';
	display: inline-block;
	width: 10px;
	height: 40px;
	background-color: #fc635e;
	position: relative;
	top:10px;
}

.advertising__info_text{
	font-size:15px;
	color:#9e9898;
	line-height:25px;
	margin-bottom: 40px;
	transition:all 1s linear;
}

.advertising__button_moreDetails{
	color:#fff;
	display:inline-block;
}

.modal-header{
	text-align: center;
}

.advertising__button_moreDetails:hover{
	background-color: #fff;
}

					/* page 5 - What do we do / Marketing Kit */

.weDo__item_marketingKit{
	height: 576px;
}

.marketingKit__content{
	margin-top: 120px;
	transition:all 1s linear;
}

.marketingKit__info_heading{
	text-transform: uppercase;
	font-size:28px;
	color:#868686;
	margin-bottom:20px;
}

.marketingKit__info_heading:before{
	content:' ';
	display: inline-block;
	width: 10px;
	height: 40px;
	background-color: #fc635e;
	position: relative;
	top:10px;
}

.marketingKit__info_text{
	font-size:15px;
	color:#9e9898;
	line-height:25px;
	margin-bottom: 40px;
	transition:all 1s linear;
}

.marketingKit__device{
	height: 282px;
	background: url('../images/book.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

.marketingKit__button_slideDown{
	background-color: #f2f2f2;
}

							/* page 6 - Portfolio */

.daisySite__item_portfolio{
	height: 844px;
	background-color: #fff;
}

.portfolio__heading{
	text-align: center;
	margin-bottom: 40px;
	transition:all 1s linear;
}

.portfolio__navigation{
	height: 60px;
	box-sizing:border-box;
	border-top:1px solid #adadad;
	border-bottom:1px solid #adadad;
	margin-bottom: 50px;
}

.portfolio__nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	align-items:center;
	list-style:none;
	padding:0 10px;
	margin: 0;
	height: 60px;
}

.nav__item a{
	font-size:20px;
	text-transform: uppercase;
	color:#fc635e;
}

.nav__item a:hover{
	text-decoration: none;
	color:#868686;
}

.portfolio__collage{
	margin-bottom: 40px;
}

.collage__partFirst, .collage__partSecond{
	height: 100%;
}

.collage__item{
	height: 200px;
	border:5px solid #fff;
	padding:0;
}

.img__link{
	display:block;
	height: 100%;
	width: 100%;
}

.collage__item_travels{
	background: url('../images/portfolio_sport_2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.collage__item_present{
	background: url('../images/portfolio_entertainment_2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.collage__item_work{
	background: url('../images/portfolio_business_2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.collage__item_painting{
	background: url('../images/portfolio_entertainment_3.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.collage__item_bus{
	background: url('../images/portfolio_building_2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.collage__item_cars{
	background: url('../images/portfolio_building_3.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.portfolio__button_landingPage{
	width: 190px;
	height: 50px;
	box-sizing:border-box;
	font-size:20px;
	color:#fff;
	background-color:#fc635e;
	border-radius:7px;
	display:block;
	border:none;
	margin:auto;
}

.portfolio__button_landingPage:hover{
	background-color: #fff;
	color:#fc635e;
	border:2px solid #fc635e;
}

							/* page 6 - ourTeam */

.daisySite__item_ourTeam{
	height: 577px;
	box-sizing:border-box;
	background-color: #f2f2f2;
}

.ourTeam__heading{
	text-align: center;
}

.ourTeam__content{
	margin-top: 70px;
}

.ourTeam__person{
	text-align: center;
	transition:all 1s linear;
}

.person__avatar_tomothy{
	background: url('../images/team_person_1.png') no-repeat center center;
  	-webkit-background-size: cover;
	background-size: cover;
  	overflow:hidden;
}

.person__avatar_steve{
	background: url('../images/team_person_2.png') no-repeat center center;
  	-webkit-background-size: cover;
	background-size: cover;
  	overflow:hidden;
}

.person__avatar_hellen{
	background: url('../images/team_person_3.png') no-repeat center center;
  	-webkit-background-size: cover;
	background-size: cover;
  	overflow:hidden;
}

.person__name{
	font-size:28px;
	color:#565656;
}

.person__position{
	font-size:20px;
	color:#565656;
}

.person__link{
	display:inline-block;
	width: 35px;
	height: 35px;
}

.person__link:hover{
	text-decoration: none;
}

.fa-circle{
	color: #565656;
}

.fa-twitter:hover, .fa-facebook:hover, .fa-linkedin:hover{
	color:#fc635e;
	cursor:pointer;
}

.ourTeam__button_slideDown{
	background-color: #f2f2f2;
}

							/* Footer */

.daisySite__item_footer{
	position: relative;
}

							/* Footer / Testimonials */

.footer__testimonials{
	height: 645px;
	background-color: #fff;
	overflow:hidden;
}

#carousel{
	height: 645px;
}

.carousel-indicators{
	bottom:150px;
	margin-bottom: 0;
	transition: all 1s linear;
}

.carousel-indicators .active{
	background-color:#fc635e;
}

.carousel-indicators li{
	border: 1px solid #fc635e;
}

.testimonials__figure{
	margin-top: 70px;
	transition: all 1s linear;
	margin-bottom: 70px;
}

.carousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,.12) 0,rgba(0,0,0,.0001) 100%);
}

.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.12) 100%);
}

.carousel-control{
	color:#fc635e;
}

.carousel-control:focus, .carousel-control:hover{
	color:#fc635e;
}

.testimonials__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:center;
}

.testimonials__content_recall{
	font-size:15px;
	color:#767676;
	text-align: right;
	padding-left: 50px;
}

.testimonials__avatar{
	padding:0;
}

.testimonials__content_avatar{
	width: 160px;
	height: 185px;
  	overflow:hidden;
  	margin:auto;
}

.testimonials__avatar_alan{
	background: url('../images/testim_man.png') no-repeat center center;
  	-webkit-background-size: cover;
  	background-size: cover;
}

.testimonials__avatar_brendan{
	background: url('../images/Brendan_Eich_Mozilla_Foundation_official_photo.jpg') no-repeat center center;
  	-webkit-background-size: cover;
  	background-size: cover;
}

.testimonials__avatar_eric{
	background: url('../images/meyer.jpg') no-repeat center center;
  	-webkit-background-size: cover;
  	background-size: cover;
}

.testimonials__content_info{
	color:#767676;
}

.testimonials__info_name{
	font-size:28px;
	transition: all 1s linear;
}

.testimonials__info_position{
	font-size:20px;
}

.testimonials__slider{
	text-align: center;
}

.testimonials__button{
	display:inline-block;
	width: 30px;
	height: 30px;
	border-radius:50%;
	border:2px solid #fc635e;
	line-height:26px;
	color:#fc635e;
	box-sizing:border-box;
}

.testimonials__button:hover{
	color:#fff;
	background-color: #fc635e;
}

.testimonials__button_back{
	margin-right: 10px;
}

.testimonials__button_next{
	margin-left: 10px;
}

							/* Footer / address */

.footer__address{
	width: 210px;
	height: 240px;
	position: absolute;
	top:524px;
	left:calc(50% - 105px);
}

							/* hexagon-address */
.adress__hexagon_back{
  	width: 210px;
  	height: 120px;
  	background: #fe8682;
  	box-sizing:border-box;
  	position: relative;
  	margin:auto;
  	top:60px;
}
.adress__hexagon_back:before {
	content: "";
  	position: absolute;
	top: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-bottom: 60px solid #fe8682;
}
.adress__hexagon_back:after {
	content: "";
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-top: 60px solid #fe8682;
}
.adress__hexagon_front{
  	width: 210px;
  	height: 120px;
  	background: #fc635e;
  	box-sizing:border-box;
  	position: relative;
  	transform:scale(0.9);
  	margin:auto;
	top: -60px;
	text-align: center;
	color:#fff;
}
.adress__hexagon_front:before {
	content: "";
  	position: absolute;
	top: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-bottom: 60px solid #fc635e;
}
.adress__hexagon_front:after {
	content: "";
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-top: 60px solid #fc635e;
}
/*  */

.address__name{
	margin:0;
	font-size:27px;
}

.address__coordinates{
	font-size:20px;
}

							/* Footer / Map */

.footer__map{
	height: 338px;
	background: url('../images/bg_map.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	transition:all 1s linear;
}

							/* Footer / Contact */

.footer__foo{
	height: 211px;
	background: url('../images/bg_footer.png') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	transition:all 1s linear;
}

.footer__foo_background{
	background-color: rgba(24, 24, 24, 0.7);
	height: 100%;
	box-sizing:border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__logo{
	width: 140px;
	height: 65px;
	line-height:75px;
	margin:auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	align-items:center;
}

							/* Button - Back to Top */
.scrollup{
	width:60px;
	height:70px;
	color:#fff;
	text-align: center;
	line-height:70px;
	font-size:30px;
	color:#fc635e;
	position:fixed;
	bottom:10px;
	left:10px;
	display:none;
}
.scroll__hexagon{
	width:60px;
	height:70px;
}
.scroll__hexagon polygon{
	fill:rgba(252, 99, 94, 0.5); 
	stroke:#adadad;
	stroke-width:2px;
}
.scroll__hexagon polygon:hover{
	fill:rgba(252, 99, 94, 0.0);
	cursor:pointer;
}

							/*  Media Queries  */

@media screen and (max-width: 1200px) {

.daisySite__item_sameStyle{
   padding:20px 80px 0px;
}

.landingPages__heading{
   margin-bottom: 30px;
}
/* ---------------------------------- */
.portfolio__heading{
   margin-bottom: 30px;
}
}

@media screen and (max-width: 992px) {

.daisySite__item_sameStyle{
   padding:20px 40px 0px;
}

.daisySite__item_youReseive{
   padding:20px 40px 50px;
   height:auto;
}
.youReseive__offers{
   margin-top: 40px;
}
/* ------------------------------------ */
.expand__frame{
   margin-top: 40px;
}
/* ------------------------------------- */
.content_wrapper{
   width: 700px;
}
.process__blocks_step4{
   top:98px;
   left: 528px;
   transform: scale(1.0);
}
.process__icon_implementation{
   transform: scale(1.0);
}
/* ------------------------------------- */
.testimonials__content{
   display:block;
}
.testimonials__content_info{
   text-align: center;
}
.testimonials__content_avatar{
   margin-left: 50px;
}
.testimonials__content_recall{
   padding-left: 15px;
   padding-top: 50px;
}
.testimonials__figure{
   margin-top: 40px;
   margin-bottom: 40px;
}
}

@media screen and (max-width: 768px) {

.daisySite__item_sameStyle{
   padding:20px 10px 50px;
}

.daisySite__item_header{
   height:auto;
}
.header__background{
   padding-bottom:50px;
}
.header__heading{
  margin-top: 100px;
}
.header__logo{
   margin-left: 50px;
}
.navbar-toggle{
   margin-top: 15px;
}
/* ---------------------------------------- */
.youReseive__offers{
   margin-top: 10px;
   /* height:auto; */
}
/* -------------------------------------- */
.daisySite__item_expand{
   height:auto;
}
.expand__frame{
   height:250px;
   margin-top: 0px;
}
/* -------------------------------------- */
.daisySite__item_process{
   height:auto;
}
.process__content{
   height:auto;
   margin-top: 10px;
}
.content_wrapper{
   width: 472px;
   height: 525px;
}
.process__blocks_picture{
   top: 162px;
   left: 150px;
}
.process__blocks_step1{
   top: 0px;
   left:20px;
}
.process__icon_idea{
   top:180px;
   left:65px;
}
.process__blocks_step2{
   top: 0px;
   left: 281px;
}
.process__icon_plan{
   top:180px;
   left:65px;
}
.process__blocks_step3{
   top: 324px;
   left: 20px;
}
.process__icon_brainstorm{
   top:-20px;
   left:65px;
}
.process__icon_decision{
   top:50px;
   right:-65px;
}
.process__blocks_step4{
   top: 324px;
   left: 281px;
}
.process__icon_implementation{
   top: -20px;
}
/* -------------------------------------- */
.weDo__item_landingPages{
   height:auto;
}
.landingPages__heading{
   margin-bottom: 10px;
}
.landingPages__info{
   padding-bottom: 20px;
}
.landingPages__info_heading{
   margin-top: 0;
}
.landingPages__info_text{
   margin-bottom: 20px;
}
.button__moreDetails{
   margin:auto;
}
.landingPages__devices{
   justify-content:space-around;
}
/* --------------------------------------- */
.weDo__item_advertising{
   height:auto;
}
.advertising__content{
   margin-top: 10px;
}
.advertising__info{
   padding-bottom: 20px;
}
.advertising__info_heading{
   margin-top: 0;
}
.advertising__info_text{
   margin-bottom: 20px;
}
.advertising__button_moreDetails{
   display:block;
}
/* ----------------------------------------- */
.weDo__item_marketingKit{
   height:auto;
}
.marketingKit__content{
   margin-top: 10px;
}
.marketingKit__info{
   padding-bottom: 20px;
}
.marketingKit__info_heading{
   margin-top: 0;
}
.marketingKit__info_text{
   margin-bottom: 20px;
}
/* --------------------------------------- */
.daisySite__item_portfolio{
   height:auto;
}
.portfolio__heading{
   margin-bottom: 10px;
}
.portfolio__navigation{
   margin-bottom: 10px;
}
.portfolio__collage{
   margin-bottom: 10px;
}
/* ---------------------------------------- */
.daisySite__item_ourTeam{
   height:auto;
}
.ourTeam__content{
   margin-top: 10px;
}
.ourTeam__person{
   margin-top: 10px;
}
/* ----------------------------------------- */
.testimonials__content_avatar{
   margin:auto;
}
.testimonials__content_recall{
   padding-left: 0px;
   padding-top: 0;
}
.testimonials__figure{
   margin-top: 20px;
   margin-bottom: 20px;
}
.testimonials__info_name{
   margin-bottom: 0;
}
.carousel-indicators{
   bottom:140px;
}
.testimonials__content_recall{
   text-align: center;
   padding-left: 15px;
}
/* ----------------------------------------- */
.footer__map{
   height:200px;
}
/* ----------------------------------------- */
.footer__foo{
   height:100px;
}
/* -------------------------------------- */
.heading_title{
   margin-top: 0;
}
.heading_text{
   width:auto;
}
}
